header.header
  button.header__btn(data-js-theme-btn)
    img(src="light_mode.svg" data-js-theme-icon).header__theme
  button.header__btn(data-js-lang-btn)
main.typing
  div.typing__inputs(data-js-inputs)
      span.typing__input(contenteditable = "false" spellcheck="false" data-js-input)  
      span.typing__text(data-js-text) Фраза загружается
  p.typing__translate(data-js-translate) Пожалуйста, подождите
footer.footer
  ul.keyboard
    li.keyboard__row(data-js-row)
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_center 1
      button.keyboard__key.keyboard__key_center 2
      button.keyboard__key.keyboard__key_center 3
      button.keyboard__key.keyboard__key_center 4
      button.keyboard__key.keyboard__key_center 5
      button.keyboard__key.keyboard__key_center 6
      button.keyboard__key.keyboard__key_center 7
      button.keyboard__key.keyboard__key_center 8
      button.keyboard__key.keyboard__key_center 9
      button.keyboard__key.keyboard__key_center 0
      button.keyboard__key.keyboard__key_center -
      button.keyboard__key.keyboard__key_center.keyboard__key_10 =
      button.keyboard__key.keyboard__key_delete.keyboard__key_bottom-right.keyboard__key_inscription delete
    li.keyboard__row(data-js-row)
      button.keyboard__key.keyboard__key_tab.keyboard__key_inscription.keyboard__key_bottom-left.keyboard__key_10 tab
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_center.keyboard__key_10 \
    li.keyboard__row(data-js-row)
      button.keyboard__key.keyboard__key_caps-lock.keyboard__key_top-bottom-left.keyboard__key_inscription
        p.keyboard__key_10 ·
        p.keyboard__key_10 caps lock
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button(data-js-enter).keyboard__key.keyboard__key_enter.keyboard__key_inscription.keyboard__key_top-bottom-right
        p enter
        p return
    li.keyboard__row(data-js-row)
      button(data-js-shift).keyboard__key.keyboard__key_shift.keyboard__key_inscription.keyboard__key_bottom-left shift
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_letter(data-js-letter-btn = "")
      button.keyboard__key.keyboard__key_center.keyboard__key_10 /
      button(data-js-shift).keyboard__key.keyboard__key_shift.keyboard__key_inscription.keyboard__key_bottom-right shift
    li.keyboard__row
      button.keyboard__key.keyboard__key_inscription.keyboard__key_bottom-left.keyboard__key_10 fn
      button.keyboard__key.keyboard__key_inscription.keyboard__key_bottom-left.keyboard__key_10 control
      button.keyboard__key.keyboard__key_inscription.keyboard__key_bottom-left.keyboard__key_10 option
      button.keyboard__key.keyboard__key_command.keyboard__key_inscription.keyboard__key_bottom-left.keyboard__key_10 command
      button(data-js-space).keyboard__key.keyboard__key_space
      button.keyboard__key.keyboard__key_command.keyboard__key_inscription.keyboard__key_bottom-right.keyboard__key_10 command
      button.keyboard__key.keyboard__key_inscription.keyboard__key_bottom-right.keyboard__key_10 option
      button.keyboard__key.keyboard__key_arrow-left.keyboard__key_inscription.keyboard__key_10 ◀
      button.keyboard__key.keyboard__key_arrows-top-bottom.keyboard__key_inscription.keyboard__key_10
        p ▲
        p ▼
      button.keyboard__key.keyboard__key_arrow-right.keyboard__key_inscription.keyboard__key_10 ▶
  p.footer__copyright Created by 
    a.footer__link(href="https://sibvan.dev" target="_blank") sibvan.dev